<!-- Fixed navbar -->
<div class="navbar navbar-inverse" role="navigation">
    
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-ng-click="nav.navCollapsed = !nav.navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" data-ng-click="nav.makeActive(1)">Project name</a>
        </div>
        <div class="navbar-collapse collapse navbar-right" data-ng-class="!nav.navCollapsed && 'in'" data-ng-click="nav.navCollapsed=true">
            <ul class="nav navbar-nav">
                <li data-ng-class="{ active: nav.isActive(1) }"><a href="#" data-ng-click="nav.makeActive(1)">Home</a></li>
                <li data-ng-class="{ active: nav.isActive(2) }"><a href="#/view2" data-ng-click="nav.makeActive(2)">View 2</a></li>
                <li data-ng-class="{ active: nav.isActive(3) }"><a href="#/view3" data-ng-click="nav.makeActive(3)">View 3</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    
</div>